* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1.5s;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    background: linear-gradient(120deg, #02062e, #0e475a, #045172);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: white;
    transition: all 1.2s;
    position: relative;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}


.hero {
    font-size: 2.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.name {
    background: linear-gradient(90deg, #277cec, #ff58de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typewriter {
    margin-top: 15px;
    font-size: 2.4rem;
    font-weight: 600;
}

/* Gradient typing text */
#text {
    background: linear-gradient(90deg, #00f2ff, #e636c2, #00ff88);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 4s ease infinite;
}

/* Cursor */
.cursor {
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


/* From Uiverse.io by zaeniahmad-id */
/* OOP CSS CODE from Zaeni Ahmad */
.S-btns {
    width: fit-content;
    height: fit-content;
    /* background-color: rgba(49, 49, 49, 0.8); */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    gap: 15px;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: inset 0px 0px 20px rgb(255 255 255 / 64%);
    margin-bottom: 20px;
}

/* for all social containers*/
.S-btns a {
    width: 52px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0);
    /* background-color: transparent; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
}

.S-btns a:hover {
    transform: scale(1.2);
    border-radius: 15px;
}

/*instagram*/
.S-btns a:nth-child(1):hover {
    background-color: #d62976;
}

/* twitter*/
.S-btns a:nth-child(2):hover {
    background-color: #00acee;
}

/* linkdin*/
.S-btns a:nth-child(3):hover {
    background-color: #0072b1;
}

/* Whatsapp*/
.S-btns a:nth-child(4):hover {
    background-color: #25d366;
}

.S-btns a:active {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

/*first-child*/
.S-btns a svg:first-child {
    display: flex;
    scale: 1.3;
    position: absolute;
    width: 19px;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.S-btns a svg:first-child path {
    fill: rgb(255, 255, 255);
}

.S-btns a:hover svg:first-child {
    transform: translateY(-40px);
    opacity: 0;
}

/*last-child*/
.S-btns a svg:last-child {
    display: flex;
    position: absolute;
    width: 17px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.S-btns a svg:last-child path {
    fill: rgb(255, 255, 255);
}

.S-btns a:hover svg:last-child {
    opacity: 1;
    transform: translateY(0px);
}


/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    /* width: 190px;
  height: 254px; */
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    /* width: 200px;
  height: 264px; */
    border-radius: 50%;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {

    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(40px);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}



.card:hover::after {
    filter: blur(50px);
    border-radius: 50%;
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    border-radius: 50%;
    filter: blur(40px);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




/* header start  */

header {
    background-color: #02062e48;
    backdrop-filter: blur(4px);
}



nav {
    width: 90vw;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* position: sticky;
    position: fixed; */
}



nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav .logo a {
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
}

nav ul li {
    margin: 0 10px;
    list-style: none;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
}

#download-btn {
    background-color: cadetblue;
    color: #ffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 14px;
    border: 2px solid #ffff;
    border-radius: 8px;
}

/* section 1 start  */
.sec-align {
    width: 90vw;
    margin: auto;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-1_cnt {
    line-height: 1.5;
}

.sec-1_cnt>h1 {
    font-size: 4.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec-1_cnt>h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-1_cnt>p {
    font-size: 1.1rem;
    font-family: 'Arial Narrow';
    width: 500px;
    margin: 12px 0px;
}




/* From Uiverse.io by Saad3092003 */
.about-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.about-btn {
    width: 12rem;
    height: auto;
}

.about-btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(137.48deg, #8f51ea, #0044ff);
    border-radius: 1.625rem;
}

.about-btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.about-btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.about-btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.about-btn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgba(255, 255, 255, 0.493);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: capitalize;
}

.about-btn:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px white;
}

.about-btn:hover .button-text {
    transform: translate(-1.7rem, 0);
}

.about-btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(8.7rem, 0);
}

.about-btn:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
}

.about-btn:active .circle {
    transform: scale(0.9);
    transition: all 0.3s;
    box-shadow: 0 0 5px 0.5px white;
}

.about-btn:hover .button-text {
    color: #fff;
}

.about-btn:active .button-text {
    color: rgba(255, 255, 255, 0.459);
}



.sec-1_img img {
    border-radius: 100%;
    box-shadow: #00abffc4 0px 0px 20px 15px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}