* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    transition: all 0.7s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    scroll-margin-top: 90px;
}


abbr[title] {
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    background: linear-gradient(120deg, #02062e, #0e475a, #045172);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: white;
    transition: all 1.2s;
    /* position: relative; */
    /* z-index: 0; */
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}



canvas {
    position: fixed;
    top: 0;
    left: 0;
}


.hero {
    font-size: 2.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.name {
    background: linear-gradient(90deg, #277cec, #ff58de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typewriter {
    margin-top: 15px;
    font-size: 2.4rem;
    font-weight: 600;
}

/* Gradient typing text */
#text {
    background: linear-gradient(90deg, #00f2ff, #e636c2, #00ff88);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 4s ease infinite;
}

/* Cursor */
.cursor {
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


/* From Uiverse.io by zaeniahmad-id */
/* OOP CSS CODE from Zaeni Ahmad */
.S-btns {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 15px;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: inset 0px 0px 20px rgb(255 255 255 / 64%);
    /* margin-bottom: 20px; */
    backdrop-filter: blur(4px);
    position: fixed;
    right: 5px;
    top: 35%;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* for all social containers*/
.S-btns a {
    width: 52px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0);
    background-color: transparent;
    color: #ffff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    font-size: 1.5rem;
}

.S-btns a:hover {
    transform: scale(1.3);
    border-radius: 15px;
}

/* linkedin */
.S-btns #linkedin:hover {
    background-color: #0072b1;

}

/* Whatsapp */
.S-btns #whatsapp:hover {
    background-color: #25d366;
}

/* Github */
.S-btns #github:hover {
    background-color: #111111;

}

.S-btns #email:hover {
    background: linear-gradient(135deg, #ff922b, #ff3131);
}


/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 430px;
    height: 430px;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 50%;
    cursor: pointer;
    animation: updown 3s ease-in-out infinite;
}


.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    /* width: 200px;
  height: 264px; */
    border-radius: 50%;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {

    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(40px);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}



.card:hover::after {
    filter: blur(50px);
    border-radius: 50%;
}

.card:hover::before {
    transform: rotate(190deg) scale(1);
    border-radius: 50%;
    filter: blur(40px);
    transition: all 0.6s;
    /* cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* header start  */

header {
    width: 100vw;
    height: 90px;
    background-color: #02062e48;
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0%;
    z-index: 10;
}

/* MENU ICON */
.menu-icon {
    font-size: 26px;
    cursor: pointer;
    display: none;
}

nav {
    width: 85vw;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* position: fixed; */
}


/* Glow Effect */
nav .logo a:hover {
    text-shadow: 0 0 10px rgba(245, 226, 122, 0.7);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav .logo a {

    font-family: cursive;
    font-weight: bolder;
    color: #ffff;
    cursor: pointer;
}

/* Nav Links */
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}


nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 0;
    transition: 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Gold Underline Animation */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    /* background: linear-gradient(90deg, #d4af37, #f5e27a); */
    background: linear-gradient(90deg, #277cec, #ff58de);
    transition: 0.4s ease;
}

/* Hover Effect */
nav ul li a:hover {
    color: #27c4ec;
    font-weight: bold;
}

nav ul li a:hover::after {
    width: 100%;
}


#download-btn {
    background-color: cadetblue;
    color: #ffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 14px;
    border: 2px solid #ffff;
    border-radius: 8px;
}


/* section 1 start  */
.sec-1 {
    width: 85vw;
    margin: 10px auto;
    height: 95vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    /* z-index: ; */
    /* position: sticky; */
}

.sec-1_cnt {
    line-height: 1.5;
}

.sec-1_cnt>h1 {
    font-size: 4.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec-1_cnt>h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-1_cnt>p {
    font-size: 1.1rem;
    font-family: 'Arial Narrow';
    width: 500px;
    margin: 12px 0px;
}




/* From Uiverse.io by Saad3092003 */
.about-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.about-btn {
    width: 12rem;
    height: auto;
}

.about-btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(137.48deg, #8f51ea, #0044ff);
    border-radius: 1.625rem;
}

.about-btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.about-btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.about-btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.about-btn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgba(255, 255, 255, 0.493);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: capitalize;
}

.about-btn:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px white;
}

.about-btn:hover .button-text {
    transform: translate(-1.7rem, 0);
}

.about-btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(8.7rem, 0);
}

.about-btn:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
}

.about-btn:active .circle {
    transform: scale(0.9);
    transition: all 0.3s;
    box-shadow: 0 0 5px 0.5px white;
}

.about-btn:hover .button-text {
    color: #fff;
}

.about-btn:active .button-text {
    color: rgba(255, 255, 255, 0.459);
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.about-sec {
    position: relative;
    height: 85vh;
    width: 85vw;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-sec img {
    width: 350px;
}

.sec-1_img img {
    border-radius: 100%;
    box-shadow: #00abffc4 0px 0px 20px 5px;
    /* transition: all 1.5s; */
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.about-sec img:hover {
    box-shadow: 0px 0px 20px 5px#00dbde;
    /* background: radial-gradient(-45deg, #fc00ff, #00dbde); */
    /* transform: rotate(190deg) scale(1); 
    border-radius: 50%;
    filter: blur(40px); */
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* CV BUTTON */
/* From Uiverse.io by Madflows */
.cv-btn {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #ffffff21;
    background-size: 400%;
    color: #fff;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
}

.cv-btn:hover::before {
    font-size: 1.1rem;
    transform: scaleX(1);
}

.cv-btn-content {
    position: relative;
    z-index: 1;
}

.cv-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, #277cec, #ff58de);
    transition: all 0.475s;
}

.skills-sec {
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* display: grid; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;

}

.skills-sec>h1 {
    font-size: 2.6rem;
    text-align: center;
}

.skills-icon {
    width: 80vw;
    /* margin: auto; */
    /* height: 95vh; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.skill-card {
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    perspective: 1200px;
    /* padding: 0 20px; */
}

.skill-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.skill-card:hover .skill-inner {
    transform: rotateY(180deg);
}

/* Front & Back */
.skill-txt,
.skill-back {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    /* text-align: center; */
}


.skill-txt {
    background-color: transparent;
    backdrop-filter: blur(0);
    border: none;
    box-shadow: none;
}

/* Front */
/* .skill-txt img {
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
} */


/* Back */
.skill-back {
    transform: rotateY(180deg);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

/* PROJECTS SECTION START */

.pjt-sec {
    width: 80vw;
    /* height: 80vh; */
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.pjt-align {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* Card Container */
.pjt-card {
    width: 320px;
    height: 420px;
    perspective: 1200px;
    margin-top: 30px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.pjt-card:hover .card-inner {
    transform: rotateY(180deg);
}

/* From Uiverse.io by xopc333 */
.back-btn {
    display: block;
    position: relative;
    top: 30px;
    left: 2%;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    /* margin: 10px; */
    cursor: pointer;
    border: 0;
}

.back-btn:before,
.back-btn:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.back-btn:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back-btn:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.back-btn:hover:before,
.back-btn:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.back-btn:hover:after,
.back-btn:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.back-btn-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.back-btn-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
}

.back-btn:hover .button-box,
.back-btn:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
}


/* Front & Back */
.pjt-txt,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* border-radius: 20px; */
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    color: #fff;
}

/* Front */
.pjt-txt img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
    margin-bottom: 20px;
}

.pjt-txt h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.pjt-txt p {
    font-size: 1rem;
    opacity: 0.85;
}

/* Back */
.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-back h3 {
    margin-bottom: 15px;
}

.pjt-btns {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.pjt-btns>a>button {
    color: #fff;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-live {
    border: none;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    color: #fff;
}

.btn-code {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

button:hover {
    transform: scale(1.08);
}


/* From Uiverse.io by vikiWayne */
.more-pjt {
    padding: 1em 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    margin-top: 50px;
}

.more-pjt:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

.more-pjt::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.more-pjt:hover::before {
    width: 250%;
}


/* 
#All-pjts {
    display: none;
    margin: auto;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
} */


/* SECTION */
.contact-section {
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

/* CARD */
.contact-card {
    position: relative;
    backdrop-filter: blur(10px);
    /* background: linear-gradient(145deg, #1a1a22, #111117); */
    /* background-color: #ffffff2f; */
    background-color: transparent;
    border-radius: 25px;
    padding: 60px;
    width: 80vw;
    box-shadow: inset 0px 0px 20px 4px rgb(255 255 255 / 64%);
    /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6); */
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 40px;
    z-index: 1;
}

/* Divider */
.divider {
    background: rgba(255, 255, 255, 0.226);
    width: 1px;
}

/* LEFT SIDE */
.contact-left h2 {
    color: #277cec;
    font-size: 2.1rem;
    margin-bottom: 25px;
}

.contact-left p {
    font-size: 1.1rem;
    color: #9ca3af;
    margin-bottom: 35px;
    line-height: 1.6;
}


/* RIGHT SIDE */
.contact-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-right a {
    color: #ffffff;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 14px;
    transition: 0.3s;
}

.info-item>p {
    font-size: 1.5rem;
    font-family: serif;
}

.info-item:hover {

    background: linear-gradient(120deg, #02062e33);
    /* background: rgba(45, 112, 255, 0.349); */
    transform: translateX(8px);
}

.info-item span {
    font-weight: 600;
    color: #00f2ff;
}

/* Responsive */
@media(max-width:900px) {
    .contact-card {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .divider {
        display: none;
    }
}


/* Footer Section */
footer {
    padding: 20px;
    text-align: center;
    background-color: #02062e48;
    backdrop-filter: blur(5px);
    /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
    position: relative;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* TABLET  */
@media (max-width:1024px) {

    .sec-1 {
        flex-direction: column-reverse;
        height: auto;
        text-align: center;
        gap: 40px;
    }

    .sec-1_cnt>p {
        width: 100%;
    }

    .card {
        width: 320px;
        height: 320px;
    }

    .about-sec {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 40px;
    }

    .about-sec img {
        width: 280px;
    }

    .skills-icon {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .pjt-align {
        justify-content: center;
    }

    .contact-card {
        width: 90vw;
    }

}


/* TABLET SMALL  */

@media (max-width:768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        z-index: 1100;
    }

    nav ul {
        position: absolute;
        top: -400px;
        /* hidden upar */
        left: 0;
        width: 100%;
        flex-direction: column;
        background: rgba(2, 6, 46, 0.95);
        backdrop-filter: blur(10px);
        text-align: center;
        padding: 20px 0;
        transition: 0.5s ease;
        gap: 25px;
    }

    nav ul.active {
        top: 90px;
    }

    /* 
        nav ul {
            display: none;
        }

        .menu {
            display: block;
        } */

    .sec-1_cnt>h1 {
        font-size: 3rem;
    }

    .typewriter {
        font-size: 2rem;
    }

    .card {
        width: 280px;
        height: 280px;
    }

    .skills-sec {
        flex-direction: row;
    }

    .skills-icon {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .contact-card {
        padding: 40px;
    }

    .contact-left h2 {
        font-size: 1.6rem;
    }

    .contact-left p {
        font-size: 1rem;
    }

}


/*  MOBILE (480px)*/

@media (max-width:480px) {

    nav {
        width: 95vw;
    }

    .sec-1 {
        width: 95vw;
    }

    .sec-1_cnt>h1 {
        font-size: 2.3rem;
    }

    .typewriter {
        font-size: 1.6rem;
    }

    .sec-1_cnt>p {
        font-size: 0.95rem;
    }

    .card {
        width: 220px;
        height: 220px;
    }

    .about-sec {
        width: 95vw;
    }

    .about-sec img {
        width: 220px;
    }

    .skills-sec {
        height: auto;
    }

    .skills-icon {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skill-card {
        width: 100px;
        height: 100px;
    }

    .skill-back {
        font-size: 1.2rem;
    }

    .contact-card {
        width: 95vw;
        padding: 30px;
    }

    .info-item span {
        font-size: 0.9rem;
    }

    .S-btns {
        position: static;
        display: none;
    }

}


/*  
EXTRA SMALL (360px)
  */

@media (max-width:360px) {

    .sec-1_cnt>h1 {
        font-size: 2rem;
    }

    .typewriter {
        font-size: 1.4rem;
    }

    .skill-card {
        width: 100px;
        height: 100px;
    }

    .skills-icon {
        grid-template-columns: 1fr 1fr;
    }

    .contact-left h2 {
        font-size: 1.2rem;

    }

    .S-btns {
        position: static;
        display: none;
    }

}